<div id="listNotifications">
    {% for activity in activities %}
        <div class="activityOf">
                Activité de {{ activity.user.name }} - {{ activity.date|date('d/m/Y') }}
        </div>
                {% for notification in activity.notifications %}
                        {% if notification.user.id == userIdWhoAskDisplay%}
                        <div class="notificationContent">{{ notification.date|date('H:i:s') }} - {{ notification.message }}</div>
                        {% endif %}
                {% endfor %}
    {% endfor %}
</div>




